<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.stefanow.admobtest"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>AdMob test</name>

    <description>
        Lorem Ipsum.
    </description>

    <author href="https://roadblock.io" email="info@roadblock.io">
        
    </author>

    <!-- http://docs.build.phonegap.com/en_US/2.9.0/configuring_features.md.html -->
    <preference name="permissions" value="none"/>

    <gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />
    
   </widget>
