<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.stefanow.locationtest"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Location test</name>

    <description>Lorem Ipsum</description>

    <author href="https://michalstefanow.com" email="mstefanow@gmail.com"></author>

    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    
  </widget>